@import "flatpickr/dist/flatpickr.min.css";
@import "izitoast/dist/css/iziToast.min.css";


body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    color: rgb(46, 47, 66);
    background-color: rgba(255, 255, 255, 0.87);
}

.timer-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 360px;
}

.timer {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.value {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: left;
    transition: all 250ms linear;
}

.label {
    text-transform: uppercase;
}

.field {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#datetime-picker {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 142px;
    height: 40px;
    margin-right: 8px;
    border-radius: 4px;
    padding: 0 16px;
    outline: none;
    transition: all 250ms linear;
}

#datetime-picker:hover {
    border: 1px solid #000;
}

#datetime-picker:focus,
#datetime-picker:active {
    border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
    border: 1px solid #808080;
    cursor: default;
}

[type="button"] {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    border: none;
    background: #4e75ff;
    color: #fff;
    transition: all 250ms linear;
}

[type="button"]:not([disabled]):hover,
[type="button"]:not([disabled]):focus {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #6c8cff;
    outline: none;
}

[type="button"]:disabled {
    background: #cfcfcf;
    color: #989898;
    cursor: default;
}